@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900;1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f5f5f5;
}

.preview_overlay {
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.4s;
}
.preview:hover .preview_overlay {
  opacity: 1;
}

.summary_input .fr-wrapper {
  height: 300px;
  border-bottom-color: 1px solid #ccc !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.summary_input .fr-second-toolbar{
  display: none;
}
.experience .fr-wrapper {
  height: 150px;
  border-bottom-color: 1px solid #ccc !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}